*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}
.lf{
  float: left;
}
.rf{
  float: right;
}
i{
  font-style: normal;
}
ul,li{
  list-style: none;
}
body{
  background: #f7f8f8;
  font-size: 14px;
  /* background: url(../img/bk.jpg) no-repeat; */
  background-size: 3000px;
  min-width: 1120px;
}
.width-1100{
  width: 1100px;
  margin: 0 auto;
}
.head-top{
  background: #000;
  border-bottom: 1px solid #ccdac1;
  margin-bottom: 10px;
  min-width: 1100px;
}
.logo-phone{
  display: flex;
}
.logo{
  width: 228px;
  height: 106px;
  background: url(../img/logo.png) no-repeat left 11px;
  margin-right: 40px;
}
.logo a{
  text-indent: -9999px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.core{
  width: 842px;
}
.kobei{
  /* line-height: 35px; */
  height: 50px;
  border-bottom: 1px solid #6b6a6a;
  width: 100%;
  display: flex;
  justify-content:space-between;
  
}
.kobei .biaoyu{
  color: #928a8a;
  display: inline-block;
  margin-top: 23px;
  padding-left: 10px;
}
/* //#b33e3e */
.kobei .phone{
  color: #fff;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  padding-left: 35px;
  background: url(../img/icon.png) no-repeat left center;
  background-position-y: -198px;
  background-position-x: -6px;
  margin-top: 8px;
}
.menu ul{
  display: flex;
  line-height: 40px;
  /* float: right; */
}
/* .menu ul li{
  margin-left: 15px;
} */
.menu ul li a{
  display: block;
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
  margin-right: 20px;
  position: relative;
}
.menu ul li a.active::before{
  content: '';
  display: block;
  position: absolute;
  top: 33px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid #fff;
}
.menu ul li a:hover{
  color: #f26363;
}
.banner{
  box-shadow: 0 0 8px rgba(12, 12, 12, 0.13);
}
.notice{
  padding-left: 40px;
  background: url(../img/icon.png) no-repeat left center;
  /* background-size: 60%; */
  background-position-y: -234px;
  background-position-x: 0px;
  height: 35px;
  line-height: 35px;
  background-color: #dbe0d7;
  margin-top: 10px;
  padding-right: 343px;
  color: #333;
}
.column-title{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 10px;
}
.column-title a{
  color: #898989;
}
.column-title a:hover{
  color: #f26363;
}
.trade-news{
  height: 596px;
  margin-top: 10px;
}
.trade-news .lf{
  width: 760px;
  padding: 0 10px;
  border: 1px solid #d2d2d2;
}
.trade-news .lf li{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px dotted #d2d2d2;
  padding-bottom: 10px;
}
.trade-news .lf li:last-child{
  border: 0;
  margin: 0;
}
.trade-news .diagram{
  margin-right: 10px;
}
.trade-news .diagram img{
  width: 130px;
  height: 90px;
}
.trade-news .cont p a{
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 1px;
  display: inline-block;
}
.trade-news .cont p a:hover{
  color: #f26363;
}
.trade-news .cont .biaoshi{
  color: #898989;
  font-size: 13px;
  margin: 6px 0;
}
.trade-news .cont .essay{
  max-height: 40px;
  line-height: 18px;
  color: rgb(73, 73, 73);
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.trade-news .rf .wrap{
  width: 330px;
  height: 284px;
  padding: 0 10px 10px;
  border: 1px solid #d2d2d2;
}
.trade-news .rf .wrap-t{
  margin-top: 10px;
  height: 302px;
}
.trade-news .rf li{
  line-height: 37px;
  display: flex;
}
.trade-news .rf li i{
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 22px;
  margin-top: 7px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #d2d2d2;
  color: #f26363;
  font-size: 12px;
}
.trade-news .rf li a{
  color: #333;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 262px;
}
.trade-news .rf li a:hover{
  color: #f26363;
}
.about-us{
  background: #b3ae99;
  margin-top: 10px;
  padding: 20px 0;
  min-width: 1100px;
}
.about-us .width-1100{
  display: flex;
  justify-content:space-between;
}
.about-us .column-title{
  border-color: #bed4d4;
  height: 45px;
}
.about-us .column-title span{
  font-size: 20px;
}
.about-us .us-img{
  width: 600px;
}
.about-us .us-cont{
  width: 460px;
}
.about-us .us-cont .cont{
  font-size: 14px;
  color: #333;
  line-height: 25px;
}
.life-show{
  height: 250px;
}
.life-show .column-title{
  border-bottom: 0;
  line-height: 60px;
}
.life-show .column-title span{
  font-size: 18px;
}
.life-show ul{
  display: flex;
  justify-content: space-between;
}
.life-show li{
  width: 210px;
  padding: 5px;
  border: 1px solid #d2d2d2;
  text-align: center;
}
.life-show li img{
  height: 148px;
}
.life-show li span{
  display: block;
  height: 30px;
  line-height: 30px;
  background: #423838;
  padding: 0 5px;
}
.life-show li a{
  color: #dedede;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.life-show li a:hover{
  color: #f26363;
}
.fried-link h6{
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  /* margin-bottom: 10px; */
}
.fried-link ul{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #d2d2d2;
  padding: 8px 0;
}
.fried-link ul li{
  padding: 2px 10px;
}
.fried-link ul li a{
  color: #444;
}
.fried-link ul li a:hover{
  color: #f26363;
}
.footer{
  background: #333;
  padding: 10px 0;
  margin-top: 20px;
  min-width: 1100px;
}
.footer .width-1100{
  display: flex;
  justify-content: space-between;
}
.footer li a{
  display: inline-block;
  line-height: 30px;
  color: #c7c7c7;
}
.footer li a:hover{
  color: #f26363;
}
.footer .num{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.footer .qr-code{
  display: flex;
}
.footer .qr-code div{
  width: 120px;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  line-height: 25px;
}
.footer .qr-code div img{
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  display: block;
}
.footer .superiority {
  margin-top: 30px;
}
.footer .superiority p{
  color: #c7c7c7;
  font-size: 14px;
  line-height: 30px;
  padding-left: 35px;
  background: url(../img/icon.png) no-repeat left center;
  margin-bottom: 10px;
}
.footer .superiority .tui{
  background-position: -60px -2px;
}
.footer .superiority .price{
  background-position: -60px -32px;
}
.footer .superiority .song{
  background-position: -60px -62px;
}
.float-w{
  width: 160px;
  background: #000;
  position: fixed;
  top: 50%;
  right: 1px;
  text-align: center;
  margin-top: -156px;
}
.float-w p{
  height: 100px;
  line-height: 60px;
  font-size: 18px;
  color: #fff;
}
.float-w .cont{
  padding: 10px;
  background: #eee;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}
.float-w .cont div{
  background: #fff;
  padding: 15px;
  margin-top: -40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.float-w .cont div span{
  display: block;
  color: #666;
  font-size: 12px;
}
.float-w .cont div img{
  margin: 10px 0;
}
.float-w .call-ico{
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto 0;
}
.float-w .call-ico img{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  transform: translate(-50%, -50%);
}
.dibu{
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  background: #696969;
  color: #bbbbbb;
  min-width: 1100px;
}
.curr-positon{
  height: 50px;
  line-height: 50px;
  /* background: #f1f1f1; */
  position: relative;
  padding-left: 10px;
}
.curr-positon::before{
  content: '';
  width: 3px;
  height: 15px;
  background: #CC5522;
  position: absolute;
  top: 17px;
  left: 0px;
}
/* 关于我们 */
.about-page .about-us{
  margin-top: 0px;
  background: none;
}
.map-point{
  padding-bottom: 20px;
  border: 1px solid #d2d2d2;
  margin-bottom: 20px;
}
.map-point .map-tip{
  height: 50px;
  line-height: 50px;
  /* background: #928a8a; */
  color: #666;
  padding-left: 20px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
  position: relative;
}
.map-point .map-tip::before{
  content: '';
  width: 2px;
  height: 16px;
  background: #CC5522;
  position: absolute;
  top: 17px;
  left: 10px;
}
#my-map{
  width: 100%;
  height:400px;
}
/* 站内列表新闻 */
.news-cont{
  /* display: flex;
  justify-content: space-between; */
  margin-top: 10px;
  position: relative;
  padding-left: 360px;
}
.news-cont .list-title{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.news-cont .news-list{
  width: 740px;
  min-height: 645px;
}
.news-cont .news-list li{
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #d2d2d2;
}
.news-cont .news-list li a{
  font-size: 16px;
  color: rgb(58, 58, 58);
  display: inline-block;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.news-cont .news-list li a:hover{
  color: #f26363;
}
.news-cont .news-list li span{
  float: right;
  color: #696969;
  font-size: 12px;
  /* margin-top: 10px; */
}
.news-cont .life-tuijian{
  width: 300px;
  border: 1px solid #d2d2d2;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.news-cont .life-tuijian .column-title span{
  font-size: 16px;
}
.news-cont .life-tuijian ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 220px;
}
.news-cont .life-tuijian li{
  width: 134px;
  margin-bottom: 10px;
  height: 100px;
  overflow: hidden;
}
.news-cont .life-tuijian li img{
  float: left;
}
.question p{
  display: flex;
  line-height: 24px;
}
.question .qt i{
  color: #f26363;
} 
.question .qt{
  color: #4a4a4a;
  margin-bottom: 10px;
  font-size: 16px;
}
.question .an{
  color: #6b6868;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.question .an.last-an{
  margin-bottom: 0;
  border-bottom: 0;
}
.question .an i{
  color: #4da032;
}
/* 常见问题 *//* 成交记录 */
.question-cont, .trade-cont{
  position: relative;
  padding-left: 360px;
}
.question-cont .cont-lf, .trade-cont .cont-lf{
  width: 300px;
  position: absolute;
  left: 0;
  top: 10px;
  border: 1px solid #d2d2d2;
  padding: 0 10px 10px;
}
.question-cont .cont-lf li, .trade-cont .cont-lf li{
  line-height: 35px;
  display: flex;
}
.question-cont .cont-lf li i, .trade-cont .cont-lf li i{
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #eee;
  color: #f26363;
  font-size: 12px;
}
.question-cont .cont-lf li a, .trade-cont .cont-lf li a{
  color: #333;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 262px;
}
.question-cont .cont-lf li a:hover, .trade-cont .cont-lf li a:hover{
  color: #f26363;
}
.q-questions{
  min-height: 600px;
  padding-top: 20px;
}
.q-questions .qt{
  font-size: 18px;
  margin-bottom: 10px;
}
.q-questions .an{
  margin-bottom: 30px;
}
/* 成交记录 */
.trade-cont .cont-rf{
  padding-top: 20px;
  min-height: 650px;
}
.trade-cont .cont-rf .trade-title{
  font-size: 20px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  position: relative;
}
.trade-cont .cont-rf .trade-title::before{
  content: '';
  height: 20px;
  width: 2px;
  background: #f26363;
  position: absolute;
  left: 0;
  top: 5px;
}
.trade-cont .cont-rf li{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px dotted rgb(224, 224, 224);
  padding-bottom: 10px;
}
.trade-cont .cont-rf li:last-child{
  border: 0;
  margin: 0;
}
.trade-cont .cont-rf .diagram{
  margin-right: 10px;
}
.trade-cont .cont-rf .diagram img{
  width: 130px;
  height: 90px;
}
.trade-cont .cont-rf .cont p a{
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 1px;
  display: inline-block;
}
.trade-cont .cont-rf .cont p a:hover{
  color: #f26363;
}
.trade-cont .cont-rf .cont .biaoshi{
  color: #898989;
  font-size: 13px;
  margin: 6px 0;
}
.trade-cont .cont-rf.cont .essay{
  max-height: 40px;
  line-height: 18px;
  color: rgb(73, 73, 73);
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* 农家生活 */
.life-list ul{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.life-list ul li{
  width: 266px;
  padding: 20px;
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.life-list ul li.no-cont{
  background: none;
  box-shadow: none;
}
.life-list ul li a{
  display: block;
  margin-top: 6px;
  font-size: 14px;
  line-height: 30px;
  color: #444;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.life-list ul li a:hover{
  color: #f26363;
}
.life-list ul li p{
  display: flex;
  justify-content: space-between;
}
.life-list ul li span{
  color: #999;
}
/* 详情 */
.detail{
  position: relative;
  min-height: 650px;
}
.detail-cont{
  padding-top: 50px;
  width: 700px;
}
.detail-cont h2{
  font-size: 24px;
  color: #3E3A39;
}
.detail-cont .texin{
  line-height: 24px;
  color: #898989;
  font-size: 14px;
  border-bottom: 1px solid #d2d2d2;
  margin-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.detail-cont .cont{
  line-height: 30px;
  font-size: 14px;
  color: #444;
  text-indent: 28px;
}
.detail-cont .cont img{
  width: auto;
}
.news-tuijian{
  position: absolute;
  top: 10px;
  right: 0px;
  border: 1px solid #d2d2d2;
  padding: 10px;
  width: 300px;
  min-height: 370px;
}
.news-tuijian li{
  line-height: 30px;
  height: 30px;
  padding-left: 10px;
}
.news-tuijian li i{
  width: 5px;
  height: 5px;
  display: inline-block;
  background: #525252;
  border-radius: 50%;
  float: left;
  margin-top: 13px;
}
.news-tuijian li a{
  color: #333;
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  margin-left: 13px;
}
.news-tuijian li a:hover, .news-tuijian li.active a{
  color: #f26363;
}
.news-tuijian li.active i{
  background: #f26363;
}
.page{
  max-width: 1000px;
  width: 100%;
  margin: 30px auto 0;
  text-align: center;
  padding: 10px 0;
}
.page span, .page a{
  display: inline-block;
  padding: 3px 10px;
  margin: 2px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.09019);
  border-radius: 2px;
}
.page span {
  color: #828181;
}
.page a.active{
  background: #d18654;
  color: #fff;
}
.page span.current-page{
  border: 0;
  background: none;
  color: #666;
  box-shadow: none;
  font-size: 14px;
}
.page a{
  color: #000;
}
.page a:hover{
  color: #f07d7d;
}
.page a.active:hover{
  color: #fff;
}