.head-top
    .logo-phone.width-1100
        h1.logo
            a(href="#{domain.pc}/", title="贵溪土鸡") 贵溪土鸡
        .core
            div.kobei
                span.biaoyu 纯正散养贵溪土鸡/品质的保证绿色的生态环境
                span.phone 13687011233
            .menu
                ul
                    li
                        a(href="", title="") 首页
                    li
                        a(href="", title="") 最近出售
                    li
                        a(href="", title="") 农家生活
                    li
                        a(href="", title="") 本站新闻
                    li
                        a(href="", title="") 常见问题
                    li
                        a(href="", title="") 关于我们